.register,
.login {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px;
  color: black;
  background-color: white;

  &>section,
  &>aside {
    flex: 1;
  }

  &>section {
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;

    &>section {
      width: 500px;
      margin: 70px;
      display: flex;
      flex-direction: column;
      gap: 65px;

      &>header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 25px;
      }
    }

  }
}


main {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 100%;
  height: 100%;


  & header {
    & h2 {
      font-size: 65px;
    }

    & p {
      color: grey;
      font-size: 1rem;

      & a {
        text-decoration: none;
        color: #4747FF;
      }
    }
  }

  & form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    & section {
      display: flex;
      flex-direction: column;
      position: relative
    }

    & input {
      padding: 10px;
      font-size: 15px;
      border-radius: 10px;
      border: 1px solid grey;
    }

    & input[type="submit"] {
      background-color: #EAF0E0;
      border: none;
      cursor: pointer;
    }

    & label {
      top: -10px;
      left: 10px;
      padding: 2px;
      background-color: white;
      position: absolute;
      z-index: 100;
    }
  }
}


aside {
  background-color: #EAF0E0;
  border-radius: 15px;
}
