nav {
  margin: 10px 30px;
  padding: 10px 40px;
  border-radius: 15px;
  background-color: #393C43;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & header,
  & footer {
    display: flex;
    flex-direction: row;
  }

  & header .navbar-icon:hover,
  & footer:hover {
    color: #FF8036;
  }

  & header {
    gap: 15px;


  }

  & header>* {
    cursor: pointer;
  }


  & footer {
    gap: 10px;
    cursor: pointer;
  }

  & section {
    display: flex;
    align-items: center;
    gap: 80px;

    & h2 {
      font-size: 28px;
    }

  }

  & ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 18px;

    & a {
      cursor: pointer;
      text-decoration: none;
      color: black;
      font-size: 20px;
    }

    & a:hover {
      color: red;
    }
  }
}
